[Desktop Entry]
Version=1.0
Type=Application
Name=pylinuxoneclickurl
Exec=xterm  -bg Grey15  -fg white -maximized -fa 'Monospace' -fs 12 -e 'pylinuxoneclickinstall.py  %U'
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/pylinuxoneclick
X-Desktop-File-Install-Version=0.26
