[Desktop Entry]
Version=1.0
Type=Application
Name=pylinuxoneclickurl
Exec=xterm -e 'pylinuxoneclickinstall.py  %U'
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/pylinuxoneclick
X-Desktop-File-Install-Version=0.26
